{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Salt-Observer</title>

        <link rel="icon" href="{% static 'img/favicon-eye.ico' %}">

        {% block pre-style %}{% endblock %}
        <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
        {% block post-style %}{% endblock %}
        <!-- for the available script blocks look at the bottom of <body> -->
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-3 col-md-2 sidebar">
                    <div class="title-wrapper" data-root="/">
                        <a href="/" class="title">salt-observer</a>
                    </div>

                    {% block sidebar %}
                        <ul class="nav nav-sidebar">
                            <li {% block nav-dashboard %}{% endblock %}><a href="{% url 'dashboard' %}"><i class="fa fa-fw fa-2x fa-bullhorn"></i> Dashboard</a></li>
                            <li {% block nav-minions %}{% endblock %}><a href="{% url 'minion-list' %}"><i class="fa fa-fw fa-2x fa-server"></i> Minions</a></li>
                            <li {% block nav-networks %}{% endblock %}><a href="{% url 'network-list' %}"><i class="fa fa-fw fa-2x fa-plug"></i> Networks</a></li>
                            <li {% block nav-commands %}{% endblock %}><a href="#"><i class="fa fa-fw fa-2x fa-terminal"></i> Commands</a></li>
                        </ul>
                    {% endblock %}
                </div>

                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block pre-script %}{% endblock %}
        <script src="{% static 'js/contrib/main.min.js' %}"></script>
        <script src="{% static 'js/base.min.js' %}"></script>
        {% block post-script %}{% endblock %}
    </body>
</html>
