{% extends 'home/base.html' %}
{% load staticfiles %}

{% block nav-db-general %}class="active"{% endblock %}
{% block title-extra %}Dashboard{% endblock %}

{% block home-content %}
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="numeric-info">
                <span class="number">{{ all_minions|length }}</span>
                <span class="description">Minions</span>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="numeric-info">
                <span class="number">{{ all_networks|length }}</span>
                <span class="description">Networks</span>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="numeric-info">
                <span class="number">{{ all_domains|length }}</span>
                <span class="description">Domains</span>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="numeric-info">
                <span class="number">{{ all_users|length }}</span>
                <span class="description">Users</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Fullest 5 Minions</h3>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Minion ID</th>
                            <th>Percentage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in w5_fullest_minions %}
                            <tr>
                                <td><a href="{% url 'minion-detail' m.fqdn %}">{{ m.fqdn }}</a></td>
                                <td>{{ m.fullest_partition_percentage }} %</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Worst 5 outdated Minions</h3>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Minion ID</th>
                            <th>Packages</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in w5_outdated_minions %}
                            <tr>
                                <td><a href="{% url 'minion-detail' m.fqdn %}">{{ m.fqdn }}</a></td>
                                <td>{{ m.outdated_package_count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Worst 5 Certs</h3>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Domain</th>
                            <th>Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in w5_domain_ssl_grades %}
                            <tr>
                                <td><a href="{% url 'domain-detail' d.fqdn %}">{{ d.fqdn }}</a></td>
                                <td><span class="ssllabgrade {{ d.worst_grade|first|lower }}">{{ d.worst_grade }}</span></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}
