{% extends 'navbar.html' %}
{% load so_extras %}

{% block nav-networks %}class="active"{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ network.ipv4 }}</h1>
    </div>

    <div class="row">
        <div class="col-md-12">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
                <li role="presentation"><a href="#minions" aria-controls="minions" role="tab" data-toggle="tab">Connected minions</a></li>
            </ul>

            <!-- tab panes -->
            <div class="tab-content">

                <!-- general -->
                <div role="tabpanel" class="tab-pane fade in active" id="general">
                    <div class="row">
                        <div class="col-md-8">
                            {% block general-tab %}

                                <a class="text-muted pull-right" href="{% url 'network-edit' network.ipv4 %}"><i class="fa fa-2x fa-pencil"></i></a>

                                {% if network.md_content %}
                                    <div>
                                        {{ network.md_content|markdownify }}
                                    </div>
                                    <hr>
                                    <div class="footnote">
                                        <i class="text-muted">Last edited {{ network.md_last_edited|date:"d.m.y - H:i" }} from {{ network.md_last_autor.username }}</i>
                                    </div>
                                {% else %}
                                    <i class="text-muted">No special information about this network yet. But you can <a href="{% url 'network-edit' network.ipv4 %}">edit</a> this section!</i>
                                {% endif %}

                            {% endblock %}
                        </div>
                        <div class="col-md-4">
                            <table class="table datatable">
                                <tbody>
                                    <tr>
                                        <td>Network</td>
                                        <td>{{ network.ipv4 }}</td>
                                    </tr>
                                    <tr>
                                        <td>Subnetmask</td>
                                        <td>{{ network.mask }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- minions -->
                <div role="tabpanel" class="tab-pane fade" id="minions">
                    <table class="table sortable">
                        <thead>
                            <tr>
                                <th>Minion Fqdn</th>
                                <th>Network interfaces</th>
                                <th>MAC address</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for minion in network.minion_set.all %}
                                <tr>
                                    <td><a href="{% url 'minion-detail' minion.fqdn %}">{{ minion.fqdn }}</a></td>
                                    {% for ni in minion.networkinterface_set.all %}
                                        {% if ni.network.ipv4 == network.ipv4 %}
                                            <td>{{ ni.name }}</td>
                                            <td>{{ ni.mac_address }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
