{% extends '_layout/navbar.html' %}
{% load staticfiles %}

{% block nav-domains %}class="active"{% endblock %}

{% block post-script %}
    <script>
        $(function() {
            $("#domain-table").filterTable({
                inputSelector: '#domain-table-filter',
            });
        })
    </script>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Domains</h1>
    </div>
    <div class="row margin-bottom-wrapper">
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                <input id="domain-table-filter" class="form-control" placeholder="Suchen nach ..." type="search">
            </div>
        </div>
    </div>

    <table id="domain-table" class="table table-striped table-hover sortable">
        <thead>
            <tr>
                <th>Domain name (fqdn)</th>
                <th>Applied minions</th>
                <th>Valid</th>
                <th>Public</th>
                <th>HTTPS</th>
                <th>SSL Lab Grade(s)</th>
            </tr>
        </thead>
        <tbody>
            {% for domain in domain_list %}
                <tr>
                    <td><a href="{% url 'domain-detail' domain.fqdn %}">{{ domain.fqdn }}</a></td>
                    <td>{{ domain.minion_count }}</td>
                    <td>
                        {% if domain.valid %}
                            <span class="text-success"><i class="fa fa-fw fa-check"></i> Yes</span>
                        {% else %}
                            <span class="text-danger"><i class="fa fa-fw fa-times"></i> No</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if domain.public %}
                            <span class="text-success"><i class="fa fa-fw fa-check"></i> Yes</span>
                        {% else %}
                            <span class="text-danger"><i class="fa fa-fw fa-times"></i> No</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if domain.can_speak_https %}
                            <span class="text-success"><i class="fa fa-fw fa-check"></i> Yes</span>
                        {% else %}
                            <span class="text-danger"><i class="fa fa-fw fa-times"></i> No</span>
                        {% endif %}
                    </td>
                    <td>
                        {% for grade in domain.ssl_lab_status.grades %}
                            <span class="ssllabgrade {{ grade|first|lower }}">{{ grade }}</span>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
