#network_view {
    position: fixed;
    top: 100px;
    bottom: 0px;
    width: 100%;

    border-top: 1px solid #ddd;
}

.numeric-info {
    border: 1px solid #ddd;
    margin-bottom: 25px;
    border-radius: 3px;

    .description {
        padding: 10px 15px;
        border-bottom: 1px solid #ddd;
    }
    .number {
        text-align: center;
        font-size: 35px;
    }
}
